*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(9, 9, 20);
    overflow-x: hidden;
}
.head{
    color: white;
    font-size: 22px;
    font-weight: bold;
    flex-shrink: 0;
}


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(9,9,20);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    
}
 .nav-links{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;

}
.nav-links a:hover{
    color: rgb(153,10,146);
}
@media (max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

    }
    .nav-links{
        justify-content: flex-start;
        gap: 15px;
    }
}

.center_CMP{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 120px;
    margin-bottom: 20px;
}
.circle1,.circle2,.circle3{
    height: 25px;
    width: 25px;
    border: 1px solid rgb(153, 10, 146);
    box-shadow: 0 0 10px rgb(153, 10, 146);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.center_cnt{
    margin-top: 180px; 
}
.center_cnt h1{
    text-align: center;
    gap: 30px;
    font-size: 45px;
    font-weight: lighter;
    color: #fff;
    margin-top: 25px;

}

.container{
    position: relative;
    height: 100vh;
}
.center_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
    opacity: 0;
}
.center_content.zoom-in{
    animation: zoomIn 1s ease-out forwards;
}
@keyframes zoomIn{
    to{
        transform: translate(-50%, -50%)scale(1);
        opacity: 1;
    }
}

.website{
    margin-top: 15px;
    width: 350px;
    height: 30px;
    border-radius: 9px;
    cursor: pointer;
    background-color: rgb(153, 10, 146);
    color: white;
}
.name{
    color: rgb(153, 10, 146);
}

.center_medium{
    display: flex;
    height: 300px;
    width: 100%;
    margin-left: 100px;
    margin-top: 80px;
    color: #fff;
}
.left_section #firstPara{
    font-size: 20px;
    font-weight: bolder;
}
.left_section h2{
    font-size: 35px;
    color: rgb(255, 0, 144);
}
.left_section h3{
    font-weight: bolder;
    margin-top: 7px;
}
.left_section p{
    font-size: 19px;
    margin-top: 10px;
}
.btn-container{
    padding-top: 15px;
    
}
.btn1,.btn2,.btn3,.btn4{
    color: white;
    background-color: transparent;
    gap: 25px;
    width: 50px;
    cursor: pointer;
}
#call{
    margin-top: 12px;
    height: 25px;
    width: 150px;
    color: #fff;
    background-color: rgb(255, 0, 144);
    cursor: pointer;
}

.contain{
    display: flex;
    margin-top: 15px;
}
.circular_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid rgb(153, 10, 146);
    box-shadow: 0 0 10px rgb(153, 10, 146);
}
.circular_div i{
    color: white;
    font-size: 16px;
}

.right_section{
    height:450px;
   width: 100%;
   max-width: 420px;
   aspect-ratio: 1/1;
    border: 4px solid rgb(153,10,146);
    box-shadow: 0 0 10px rgb(153,10,146),
                0 0 20px rgb(153,10,146),
                0 0 30px rgb(153,10,146),
                0 0 40px rgb(153,10,146);
    margin:20px auto;
    margin-left: 10px;
    border-radius: 50%;
    margin-top: -10px;
    background-image: url('C:/Users/shail/Downloads/WhatsApp_Image_2025-06-23_at_00.44.11_bf0c94fe-removebg-preview.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
@media (max-width: 768px) {
  .center_medium{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:0 auto;
    height: auto;
  }
  .left_section,
    .right_section{
        width: 90%;
        margin: 20px auto;
        text-align: center;
        transform: none ;
        opacity:1;
    }
    .left_section{
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }
    .right_section{
        height: 50vw;
        width: 50vw;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px auto;
        display: block;
    }
}

.left_section, .right_section{
    opacity: 1;
    transform: none;
}
@keyframes slideInLeft{
    from{
        transform: translateX(-200px);
        opacity: 0;

    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight{
    from{
        transform: translateX(200px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.left_section.animate-left{
    animation: slideInLeft 4s ease-out forwards;
}
.right_section.animate-right{
    animation: slideInRight 4s ease-out forwards;
}

html{
    scroll-behavior: smooth;
}
/****************** About Section*************** */
.about-section{
    height: 150px;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin-left: 270px;
    margin-top: 250px;
    padding-top: 250px;
    border: 2px solid #6d6d6d;
    color: white;
    padding: 50px;
    text-align: center;
}
.about-section.zoom-in{
    animation: zoomAbout 4s ease-out forwards;
}
@keyframes zoomAbout{
    from{
        transform: scale(0.8);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity:1;
    }
}
.about-section h2{
    font-size: 35px;
    color: rgb(153, 10, 146);
    margin-top: -50px;
}
.about-section p{
    font-size: 18px;
    gap: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 12px;
}
.about-section button{
    margin-top: 40px;
    height: 30px;
    width: 120px;
    border-radius: 10%;
    color: white;
    background: rgb(153, 10, 146);
    gap: 15px;
    cursor: pointer;

}
.about-section #btn5{
    background-color: transparent;
}

@media (max-width:768px){
    .about-section{
        width: 90%;
        margin: 30px auto;
        padding: 20px;
        text-align: left;
    }
    .about-section h2{
        font-size: 28px;
        text-align: center;
    }
    .about-section p{
        font-size: 16px;
        text-align: justify;
    }
    .about-section button{
        display:inline;
        margin-left: 80px;

    }
}
/* *************** Portfolio Section ************/
.Portfolio{
    height: auto;
    width: 90%;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    color: white;
    padding: 50px;
    text-align: center;
}


.Portfolio.zoom-ins{
    animation: zoomAbout 2s ease-out forwards;
}
@keyframes zoomAbout{
    from{
        transform: scale(0.8);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity:1;
    }
}





.Portfolio h2{
    font-size: 35px;
    color: rgb(153, 10, 146);
}

.tab-btn-container{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}
.tab-btn,.tab-btn2,.tab-btn1{
    height: 40px;
    width: 120px;
    font-size: 1rem;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
    border: 4px solid rgb(153, 10, 146);
    background-color: rgb(153, 10, 146);
    box-shadow: 0 0 10px rgb(153,10,146),
                0 0 20px rgb(153,10,146);
}
.tab-btn1:hover{
    transform: scale(1.4);
}
.tab-btn:hover{
    transform: scale(1.4);
}
.tab-btn2:hover{
    transform: scale(1.4);
}

@media (max-width:768px){
    .tab-btn-container{
        gap: 10px;
        margin-top: 15px;
    }
    .Portfolio{
        width: 90%;
        margin: 30px auto;
        padding: 20px;
        text-align: left;
    }
    .Portfolio h2{
        font-size: 28px;
        text-align: center;
    }
    .Portfolio p{
        font-size: 16px;
        text-align: justify;
    }
}
/* ********Project Images********** */
#projectImages{
    margin-top: 20px;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;

}
#projectImages img{
    width: 250px;
    height: 250px;
    border-radius: 0 0 8px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    border: 4px solid #fff;
     box-shadow: 0 12px 10px -4px rgba(254, 234, 234, 0.947);
     border-radius: 7px;
     cursor: pointer;
}
#projectImages img:hover{
    transform: scale(1.05);
}

.hidden{
    display: none !important;
}

/* ********Project Images2********** */
#projectImages1{
    margin-top: 20px;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;

}
#projectImages1 img{
    width: 250px;
    height: 250px;
    border-radius: 0 0 8px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    border: 4px solid #fff;
     box-shadow: 0 12px 10px -4px rgba(254, 234, 234, 0.947);
     border-radius: 7px;
     cursor: pointer;
}
#projectImages1 img:hover{
    transform: scale(1.05);
}

.hidden1{
    display: none !important;
}


/* ********Project Images2********** */
#projectImages2{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
}
.Multi-div{
    height: 90px;
    width: 90px;
    aspect-ratio: 1/1;
    border: 2px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    flex-shrink: 0;
    transition: all 0.3s ease;
}
.Multi-div:hover{
    transform: scale(1.2);
    border: 2px solid white;
    background-color: rgb(197, 107, 171);
}
.Multi-div a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}
.Multi-div i{
    font-size: 25px;
    margin-bottom: 5px;
}
.Multi-div span{
    font-size: 14px;
    font-weight: bold;
}
.hidden2{
    display: none !important;
}

/* *************Division_div************ */
.Division_div{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    color: red;
    display: flex;
}
.LFT_Section{
    margin-left: 12%;
}
.LFT_Section h3{
    font-size: 2rem;
    color: white;
}
.LFT_Section h4{
    padding-top: 10px;
    font-size: 1.9rem;
    color: rgb(153,10,146);
}
.LFT_Section p{
    margin-top: 10px;
    color: #fff;
    gap: 20px;
}
.LFT_Section button{
    margin-top: 10px;
    height: 40px;
    width: 100px;
    border-radius: 12px;
    font-size: 0.9rem;
    cursor: pointer;
    color: #fff;
    background-color: rgb(216, 45, 228);
    box-shadow: 0 0 10px rgb(153,10,146),
                0 0 20px rgb(153,10,146);
    transition: all 0.3s ease-out;

}
.LFT_Section button:hover{
    transform: scale(1.20);
    border: 4px solid rgb(153, 10, 146);
}

.RHT_Section{
    margin-left: 18%;
}
.FullDiv{
    height: 80%;
    width: 100%;
    border: 2px solid rgb(104, 4, 99);
    background-color: rgb(153,10,146);
}
.sectionWise{
    border: 3px solid rgb(153, 10, 146);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 90px;
    background-color: #fff;
    color: black;
    font-weight: lighter;
}

.sectionWise >div:first-child{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(221, 44, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
    font-size: 2rem;
}
.text-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text-content h4,.text-content p{
    margin: 0
}

.FullDiv.animations-right{
    animation: slideInRights 4s ease-out forwards;
}

@keyframes slideInRights{
    from{
        transform: translateX(200px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.LFT_Section.animations-left{
    animation: slideInLefts 4s ease-out forwards;
}

@keyframes slideInLefts{
    from{
        transform: translateX(-200px);
        opacity: 0;

    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.section{
    height: 700px;
    width: 700px;
}
    /* background-color: green; */



